<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body>

	<!-- Navigation -->
	<nav th:replace="fragments/navbar :: mainNav"></nav>

	<!-- Page Header -->
	<header th:replace="fragments/header :: header"></header>

	<!-- Main Content -->
	<div class="container">
		<div class="row">
			<div th:replace="fragments/posts :: posts(${page})"></div>
		</div>
	</div>

	<hr>

	<!-- Footer -->
	<footer th:replace="fragments/footer :: footer"></footer>

	<!-- Bootstrap core JavaScript -->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Custom scripts for this template -->
	<script src="js/clean-blog.min.js"></script>

</body>

</html>
